*{
     box-sizing: border-box;
     border-style: none;
     font-style: normal;
     text-decoration: none;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     margin: 5rem;
}
:root{
     --bold:700;
     --gap:1rem;
     --size:1.5rem;
}
.logo{
     width: 5rem;
     height: 5rem;
     object-fit: contain;
}
.logo +p{
     font-size: 2rem;
     font-weight: bolder;
}
.logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.navigation-bar{
     font-family: system-ui, sans-serif;
     font-size:1.1rem;
     font-weight:var(--bold);
     color:black;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}
.link-div{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-items: center;
     gap:3rem;
     font-size: var(--size); 
}
.link-div a{
     color:black;
}
.link-div a:hover{
     color:rgb(28, 125, 109);
}
.link-div a.active {
  color: green;
}
.talk-btn{
    background: linear-gradient(90deg, rgba(39, 187, 134, 1) 0%, rgba(0, 189, 149, 1) 100%);
font-size: var(--size);
color: white;
padding: 1rem 2rem;
border-radius: 1rem;
box-shadow: 0 8px 15px rgba(0, 189, 149, 0.4);
}
