* {
    box-sizing: border-box;
    border-style: none;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root{
     --bold:700;
     --gap:1rem;
     --size:1.5rem;
     --mar:5rem;
}
.logo{
     width: 5rem;
     height: 5rem;
     object-fit: contain;
}
.logo +p{
     font-size: 2rem;
     font-weight: bolder;
}
.logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.navigation-bar{
     font-family: system-ui, sans-serif;
     font-size:1.1rem;
     font-weight:var(--bold);
     color:white;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding:2rem 5rem;
     position: sticky;
     top:0;
     background: #22272d;
     z-index: 1000;
}
.link-div{
     display: flex;
     flex-direction: row;
     gap:3rem;
     font-size: var(--size); 
}
.link-div a{
     color:white;
}
.link-div a:hover{
      color: rgb(38, 145, 129)

}
.link-div a.active {
   color:rgb(28, 125, 109);
}
.talk-btn{
    background: linear-gradient(90deg, rgba(39, 187, 134, 1) 0%, rgba(0, 189, 149, 1) 100%);
     font-size: var(--size);
     color: white;
     padding: 1rem 2rem;
     border-radius: 1rem;
     box-shadow: 0 8px 15px rgba(0, 189, 149, 0.4);
}
.talk-btn:hover{
      box-shadow: 0 13px 20px rgba(0, 194, 154, 0.5);
      cursor: pointer;
}
#background-one{
     background-color:#22272d;
     width:100vw;
     height: 100vh;
}
.hexagon-container .shape {
  transition: filter 0.3s ease;
}

.hexagon-container:hover .shape {
  filter: url(#bottomGlowHover);
}
.introduction{
     color:white;
     font-family: sans-serif,monospace;
     margin-left: var(--mar);
     display: flex;
     flex-direction: column;
     gap:5rem;
}
.profile-sec{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     justify-items: center;
     align-items: center;
}
.about-myself{
     font-family: sans-serif,monospace;
     text-align: justify;
     font-size: 1.2rem;
     width:75%;
}
.name-div{
     font-size: 2rem;
     display: flex;
     flex-direction: column;
     gap:1rem;
}
.hexagon{
     transform: translateY(-5rem);
}
.talk-btn-1{
     background: linear-gradient(90deg, rgba(39, 187, 134, 1) 0%, rgba(0, 189, 149, 1) 100%);
     font-size: var(--size);
     color: white;
     padding: 1.5rem 1.5rem;
     border-radius: 1rem;
     box-shadow: 0 8px 15px rgba(0, 189, 149, 0.4);
     width:15%;
}
.talk-btn-1:hover{
     box-shadow: 0 20px 27px rgba(0, 194, 154, 0.5);
      cursor: pointer;
}
.icon-div{
     font-family: sans-serif,monospace;
     font-size: var(--size);
     color:white;
     margin-left: var(--mar);
     display: flex;
     flex-direction:row;
     align-items: center;
     gap:2rem;
}
.icon-div a{
     color:white;
     transition: all 0.3s ease;
}
.icon-div a:hover{
     transform:translateY(-1rem) scale(1.5);
     color:#006df1;
}
#background-two{
     background-color:#151c24;
     width:100vw;
     height: 100vh;
}

#background-two .about{
     margin-left: var(--mar);
     margin-right: 5rem;
     color:white;
     font-family:sans-serif,monospace;
     font-size:3rem;
     transform: translateY(var(--mar));
}
.about-me-container{
     display:flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     text-align:left;
     margin-left: var(--mar);
     color:white;
     font-family:sans-serif,monospace;
     font-size: var(--size);
     transform: translateY(8rem);
}
.about-me{
     font-family: sans-serif,monospace;
     font-size: 1.2rem;
     text-align: justify;
     transform: translateY(6rem);
     margin-right: 5rem;
    
}
.about-me-container .for-p{
     display:flex;
     flex-direction: column;
     gap:2rem;
}
.about-me-container .ushape-container{
     display:flex;
     justify-content: space-between;
     align-items: center;
     justify-items: center;
     transform: translateX(-7rem);
}

/* base filter + smooth transition */
.ushape-container .u-shape {
  filter: url(#bottomGlow1);
  transition: filter .3s ease;
}

/* on hover, swap to stronger glow */
.ushape-container:hover .u-shape {
  filter: url(#bottomGlowHover1);
}
#background-three{
    background-color:#22272d;
     width:100vw;
     height: 100vh; 
}

.project-intro h1{
     font-size: 3rem;
}
.project-intro{
     display:flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     margin-left: var(--mar);
     margin-right: var(--mar);
     gap:2rem;
     color:white;
     font-family: sans-serif,monospace;
     font-size: 1.2rem;
     transform: translateY(var(--mar));
}
.project-intro p{
     width:40%;
     text-align: center;
}
.project-container{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   align-items: center;
}
.project-card1 {
  width: 25vw;
  height: 40vh;
  background-color: #4d5353;
  border-radius: 2rem;
  overflow: hidden; 
}
.project-card2{
  width: 25vw;
  height: 40vh;
  background-color:#2e3440;
  border-radius: 2rem;
  overflow: hidden; 
}
.imageStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-card{
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-left: 3rem;
     margin-right: 3rem;
     transform: translateY(7rem);
}
.right,.left{
     color:#00bd95;
     background-color:rgba(47, 48, 52,0.7);
     width:4rem;
     height: 4rem;
     text-align: center;
     align-content: center;
     border-radius: 50%;   
}
.arrow-container{
     display:flex;
     justify-content:space-between;
     justify-items: center;
     margin-left: 1rem;
     margin-right: 1rem;
     transform:translateY(21rem) ;
     position:relative;
     z-index: 1000;
}
.button-container{
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
     gap:4rem;
     position:relative;
     z-index: 1000;
     transform:translateY(12rem);
}
.prev-btn {
    font-family: sans-serif, monospace;
    font-size: 1.2rem;
    background-color: #00bd95;
    color: white;
    width: 9rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100% 58% 58% 100% / 80%;
}
.next-btn{
     font-family: sans-serif, monospace;
    font-size: 1.2rem;
    background-color: #00bd95;
    color: white;
    width: 9rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 58% 100% 100% 58% / 80%;
}
/* For mobile version */
@media (max-width:768px) {

    .link-div,.talk-btn{
     display: none;
    }

    .three-dot{
        position:absolute;
        right: 1rem;   
     }
    .logo{
     width: 2rem;
     height: 2rem;
    }
.logo +p{
     font-size: 1.2rem; 
}
.logo-div{
    gap:0.2rem;
}
.navigation-bar{
     padding:1rem;
}
.column-nav{
     display:flex;
     flex-direction: column;
     font-size: 1rem;
     float: right;
     text-align: left;
     gap:1rem;
     background-color:#181f28;
     padding:1rem;
     position:fixed;
     right: 1rem;
     z-index: 1000;
     border-radius:10px;
     font-family: monospace,sans-serif;
     transform: translateY(-1rem);
}
#background-one{
     height: 110vh;
      }  
   .introduction{
     flex-direction: column;
     margin:0 1rem;
   }
   .name-div{
     font-size:1.5rem;
   }
   .profile-sec{
     flex-direction: column-reverse;
     gap:10rem;
   }
   .about-myself{
     width:100%;
     font-size: 1rem;
   }
   .talk-btn-1{
      width: 100%;
      padding: 1rem;
   }
   .hexagon{
     transform: scale(2) translate(-0.5rem,2rem);
   }
   .icon-div{
     font-size: 1.3rem;
     margin:2.5rem 1rem 0rem 1rem;
     gap:1rem;
     max-width:100%;
   }
    #background-two{
     height: 150vh;
    }
   .about-me-container{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    transform: translateY(12rem);
   }
   #background-two .about{
     margin-left:1rem;
     margin-right: 1rem;
     font-size:1.5rem;
 }

 .u-shapesvg{
     transform: scale(2) translateX(3.3rem);
 }
 .about-me{
     font-size: 1rem;
     margin-right: 1rem;  
     
}


}

