* {
    box-sizing: border-box;
    border-style: none;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
html, body {
  overflow-x: hidden;
}
:root{
     --bold:700;
     --gap:1rem;
     --size:1.5rem;
     --mar:5rem;
}
.logo{
     width: 5rem;
     height: 5rem;
     object-fit: contain;
}
.logo +p{
     font-size: 2rem;
     font-weight: bolder;
}
.logo-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    animation: logoAnimation 1.3s ease-in;
}
@keyframes logoAnimation {
     0%{
          transform: translateX(-5rem);
          opacity: 0;
     }
     100%{
          transform: translateX(0);
     }
     
}

.navigation-bar{
     font-family: system-ui, sans-serif;
     font-size:1.1rem;
     font-weight:var(--bold);
     color:white;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding:2rem 5rem;
     position: sticky;
     top:0;
     background: #22272d;
     z-index: 1001;
}

.link-div{
     display: flex;
     flex-direction: row;
     gap:3rem;
     font-size: var(--size); 
}
.link-div > :nth-child(1){
      animation:linkAnimation 0.5s ease;
}
.link-div > :nth-child(2){
      animation:linkAnimation1 0.7s ease;
}
.link-div > :nth-child(3){
      animation:linkAnimation3 0.9s ease;
}
.link-div > :nth-child(4){
      animation:linkAnimation4 1.1s ease;
}
.link-div > :nth-child(5){
      animation:linkAnimation5 1.3s ease;
}
@keyframes linkAnimation {
     0%{
               transform: translateY(2rem);}
      100%{ transform: translateY(0);   }
     
}
@keyframes linkAnimation1 {
     0%{
          
               transform: translateY(4rem);
               opacity: 0;
      }
      50%{
          opacity: 0.5;
      }
      100%{
               transform: translateY(0);
           
      }
     
}
@keyframes linkAnimation2 {
     0%{
          
               transform: translateY(5rem);
               opacity: 0;
      }
      50%{
          opacity: 0.5;
      }
      100%{
               transform: translateY(0);
           
      }
     
}
@keyframes linkAnimation3 {
     0%{
          
               transform: translateY(6rem);
               opacity: 0;
      }
      50%{
          opacity: 0.5;
      }
      100%{
               transform: translateY(0);
           
      }
     
}
@keyframes linkAnimation4 {
     0%{
          
               transform: translateY(7rem);
               opacity: 0;
      }
      50%{
          opacity: 0.5;
      }
      100%{
               transform: translateY(0);
           
      }
     
}
@keyframes linkAnimation5 {
     0%{
          
               transform: translateY(8rem);
               opacity: 0;
      }
      50%{
          opacity: 0.5;
      }
      100%{
               transform: translateY(0);
           
      }
     
}
.link-div a{
     color:white;
}
.link-div a:hover{
      color: rgb(38, 145, 129)

}
.link-div a.active {
   color:rgb(28, 125, 109);
}
.talk-btn{
    background: linear-gradient(90deg, rgba(39, 187, 134, 1) 0%, rgba(0, 189, 149, 1) 100%);
     font-size: var(--size);
     color: white;
     padding: 1rem 2rem;
     border-radius: 1rem;
     box-shadow: 0 8px 15px rgba(0, 189, 149, 0.4);
     animation:talkBtnAnimation 1.3s ease-in-out;
}
.talk-btn:hover{
      box-shadow: 0 13px 20px rgba(0, 194, 154, 0.5);
      cursor: pointer;
}

@keyframes talkBtnAnimation {
     0%{transform: translateX(5rem);
     opacity: 0;}
     100%{
          transform: translateX(0);
     }
}
#background-one{
     background-color:#22272d;
     width:100vw;
     height: 100vh;
}
.hexagon-container .shape {
  transition: filter 0.3s ease;
}

.hexagon-container:hover .shape {
  filter: url(#bottomGlowHover);
}
.introduction{
     color:white;
     font-family: sans-serif,monospace;
     margin-left: var(--mar);
     display: flex;
     flex-direction: column;
     gap:5rem;
}
.profile-sec{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     justify-items: center;
     align-items: center;
}
.about-myself{
     font-family: sans-serif,monospace;
     text-align: justify;
     font-size: 1.2rem;
     width:75%;
     animation:aboutMySelfAnimation 1.5s ease-in-out;
}
@keyframes aboutMySelfAnimation {
      0%{
          transform: translateX(10rem);
          opacity: 0;
     }
     100%{
          transform: translateY(0);
     }
     
}
.name-div{
     font-size: 2rem;
     display: flex;
     flex-direction: column;
     gap:1rem;
}
.name-div > :nth-child(1){
     animation:firstInroAnimation 1s ease;
}
.name-div > :nth-child(2){
     animation:firstInroAnimation1 1.5s ease-in-out;
}
.name-div > :nth-child(3){
     animation:firstInroAnimation2 1s ease;
}
@keyframes firstInroAnimation {
     0%{
          transform: translateY(-5rem);
          opacity: 0;
     }
     100%{
          transform: translateY(0);
     }
     
}
@keyframes firstInroAnimation1 {
     0%{
          transform: translateX(-10rem);
          opacity: 0;
     }
     100%{
          transform: translateY(0);
     }
     
}
@keyframes firstInroAnimation2 {
     0%{
          transform: translateY(5rem);
          opacity: 0;
     }
     100%{
          transform: translateY(0);
     }
     
}
.hexagon{
     transform: translateY(-5rem);
     animation:hexAnimation 1.5s ease-in-out,bounce 1s infinite alternate 1.5s;
}
@keyframes hexAnimation{
     0%{
          transform: translateY(10rem);
          opacity: 0;
     }
     100%{
            transform: translateY(-5rem);
     }
     
}
@keyframes bounce {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(-4rem);
  }
}
.talk-btn-1{
     background: linear-gradient(90deg, rgba(39, 187, 134, 1) 0%, rgba(0, 189, 149, 1) 100%);
     font-size: var(--size);
     color: white;
     padding: 1.5rem 1.5rem;
     border-radius: 1rem;
     box-shadow: 0 8px 15px rgba(0, 189, 149, 0.4);
     width:15%;
     animation: btn1Animation 0.5s ease-in-out forwards;
     animation-delay: 1.5s;
     opacity: 0;
}
.talk-btn-1:hover{
     box-shadow: 0 20px 27px rgba(0, 194, 154, 0.5);
      cursor: pointer;
}
@keyframes btn1Animation {
     0%{
          transform: translateY(2rem);
          opacity: 0;
     }
     50%{ opacity: 0;}
     75%{ opacity:0.75;}
     100%{
          transform: translateY(0);
          opacity: 1;
     }
     
}
.icon-div{
     font-family: sans-serif,monospace;
     font-size: var(--size);
     color:white;
     margin-left: var(--mar);
     display: flex;
     flex-direction:row;
     align-items: center;
     gap:2rem;
}
.icon-div a > i{
     color:white;
     transition: all 0.3s ease;
}
.icon-div a > i:hover{
     transform:translateY(-1rem) scale(1.5);
     color:#006df1;
}
.icon-div > :nth-child(1){
  animation:iconAnimation 0.2s ease-in-out forwards;
  animation-delay: 2s;
  opacity: 0;
}
.icon-div > :nth-child(2){
  animation:iconAnimation 0.2s ease-in-out forwards;
  animation-delay: 2.2s;
   opacity: 0;
}
.icon-div > :nth-child(3){
  animation:iconAnimation 0.2s ease-in-out forwards;
  animation-delay: 2.4s;
   opacity: 0;
}
.icon-div > :nth-child(4){
  animation:iconAnimation 0.2s ease-in-out forwards;
  animation-delay: 2.6s;
   opacity: 0;
}
.icon-div > :nth-child(5){
       animation:iconAnimation 0.2s ease-in-out forwards;
       animation-delay: 2.8s;
       opacity: 0;
}
@keyframes iconAnimation {
     0%{
          transform: translateX(2rem);
     }
     100%{
          opacity:1;
          transform: translateX(0);
     }
     
}


#background-two{
     background-color:#151c24;
     width:100vw;
     height: 100vh;
}

.about{
     color:white;
     font-family:sans-serif,monospace;
     font-size:3rem;
     transform: translateY(10rem);
     opacity: 0;
}
@keyframes aboutAnimation {
     from{
          opacity: 0;
          transform: translate(10rem,0);
     }
     to{
          opacity: 1;
          transform: translate(0,10rem);
     }
     
}
.about-me-container{
     display:flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     text-align:left;
     margin-left: var(--mar);
     color:white;
     font-family:sans-serif,monospace;
     font-size: var(--size);
     transform: translateY(5rem);
}
.about-me{
     font-family: sans-serif,monospace;
     font-size: 1.2rem;
     text-align: justify;
     margin-right: 5rem;
     transform: translateY(10rem);
     opacity:0;
}

.for-p{
     display:flex;
     flex-direction: column;
     gap:2rem;
}
.about-me-container .ushape-container{
     display:flex;
     justify-content: space-between;
     align-items: center;
     justify-items: center;
     transform: translateX(-7rem);
}
.hidden-pera{
     font-family: sans-serif,monospace;
     font-size: 1.2rem;
     text-align: justify;
     margin-right: 5rem;
}
/* base filter + smooth transition */
.ushape-container .u-shape {
  filter: url(#bottomGlow1);
  transition: filter .3s ease;
}

/* on hover, swap to stronger glow */
.ushape-container:hover .u-shape {
  filter: url(#bottomGlowHover1);
}
.u-shapesvg {
    opacity: 0; /* hide initially */
}

@keyframes uShapeAnimation {
     from{
          opacity: 0;
          transform: translateX(-10rem);
     }
     to {
          opacity: 1;
          transform: translateX(0);
     }
}

.toggle-btn {
    background: linear-gradient(90deg, rgba(39, 187, 134, 1) 0%, rgba(0, 189, 149, 1) 100%);
     font-size: var(--size);
     color: white;
     padding: 1.5rem 1.5rem;
     border-radius: 1rem;
     box-shadow: 0 8px 15px rgba(0, 189, 149, 0.4);
     width:15%;
     transform: translateY(10rem);
     opacity:0;
  }

  .toggle-btn:hover {
      box-shadow: 0 20px 27px rgba(0, 194, 154, 0.5);
      cursor: pointer;
  }

  @keyframes AboutMeAnimation {
     0%{
             transform: translate(10rem,10rem);
             opacity: 0;
     }
     100%{
          transform: translate(0,10rem);
          opacity: 1;
     }
     
}

.push-up { transform: translateY(0rem) !important; transition: transform 0.3s ease; }

#background-three{
    background-color:#22272d;
     width:100vw;
     height: 100vh; 
}

.project-intro h1{
     font-size: 3rem;
}
.project-intro{
     display:flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     margin-left: var(--mar);
     margin-right: var(--mar);
     gap:2rem;
     color:white;
     font-family: sans-serif,monospace;
     font-size: 1.2rem;
     transform: translateY(var(--mar));
     
}
.project-intro p{
     width:40%;
     text-align: center;
}
.project-intro > :nth-child(1){
    opacity: 0;
}

@keyframes ProjectIntroHAnimation{
     from{
               transform: translateX(10rem);
               opacity: 0;
     }
     to{
         transform: translatex(0);
         opacity: 1;
     }
}
.project-intro > :nth-child(2){
   opacity: 0;
}
@keyframes ProjectIntroPAnimation{
     from{
               transform: translateX(-10rem);
               opacity: 0;
     }
     to{
         transform: translatex(0);
         opacity: 1;
     }
}
.project-container{
   display:flex;
   flex-direction:column;
   justify-content: space-between;
   align-items: center;
}

.project-card1,.project-card2,.project-card3{
  width: 20vw;
  height: 35vh;
  border-radius: 2rem;
  overflow: hidden; 
  opacity: 0;
}
.project-card1 {
  background-color: #4d5353;
}
.project-card2{
  background-color:#2e3440;
}
.project-card3{
     background-color: rgb(119, 135, 147);
}

@keyframes projectCardsAnimation1 {
     from{
          opacity: 0;
          transform: translateX(-10rem);

     }
     to{
            opacity:1;
            transform: translateY(0);
     }
     
}
@keyframes projectCardsAnimation {
     from{
          opacity: 0;
          transform: translateY(-10rem);

     }
     to{
            opacity:1;
            transform: translateY(0);
     }
     
}
@keyframes projectCardsAnimation2 {
     from{
          opacity: 0;
          transform: translateX(10rem);

     }
     to{
            opacity:1;
            transform: translateY(0);
     }
     
}
.imageStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-card{
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-left: 5rem;
     margin-right: 5rem;
     transform: translateY(7rem);

}
.main-card > :nth-child(2){
     transition: all 0.5s;
     transform: scale(1.3)!important;
}
.right,.left{
     color:#00bd95;
     background-color:rgba(47, 48, 52,0.7);
     width:4rem;
     height: 4rem;
     text-align: center;
     align-content: center;
     border-radius: 50%; 
     transition: all 0.1s;  
}
.right:active,.left:active{
     transform: scale(0.9);
}
.arrow-container{
     display:flex;
     justify-content:space-between;
     justify-items: center;
     margin-left: 3rem;
     margin-right: 3rem;
     transform:translateY(20rem) ;
     position:relative;
     z-index: 1000;
}
.button-container{
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
     gap:4rem;
     position:relative;
     z-index: 1000;
     transform:translateY(15rem);
}
.prev-btn {
    font-family: sans-serif, monospace;
    font-size: 1.2rem;
    background-color: #00bd95;
    color: white;
    width: 9rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100% 58% 58% 100% / 80%;
    transition: all 0.2s;
    opacity: 0;
}
@keyframes prevBtnAnimation {
      from{
          opacity:0;
          transform: translateX(10rem);
     }
     to{
          opacity:1;
          transform: translateX(0);
     }
     
}
.prev-btn:active{
     transform: scale(0.9);
}
.next-btn{
     font-family: sans-serif, monospace;
    font-size: 1.2rem;
    background-color: #00bd95;
    color: white;
    width: 9rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 58% 100% 100% 58% / 80%;
    opacity: 0;
    transition: all 0.2s;
    
}
@keyframes nextBtnAnimation {
     from{
          opacity:0;
          transform: translateY(-10rem);
     }
     to{
          opacity:1;
          transform: translateY(0);
     }
     
}
.next-btn:active{
     transform: scale(0.9);
}

#background-four{
     background-color:#151c24;
     width:100vw;
     height: 30vh;
}
.footer-container{
     margin-left: 5rem;
     margin-right: 5rem;
     font-family: sans-serif,monospace;
     color:white;
     transform:translateY(5rem);
     display: flex;
     flex-wrap: wrap;
     gap:13rem;
     text-align:left;
}
.address-part,.important,.social,.copyright{
     display:flex;
     flex-direction: column;
     gap:1rem;
     font-size: 1.1rem;
}
.up-btn{
     color:white;
     width:4rem;
     height: 4rem;
     text-align: center;
     align-content: center;
     background-color: #00bd95;
     border-radius: 50%;
}

/*animation part*/
.animated-text {
  font-weight: bold;
  background: linear-gradient(270deg, #ff6ec7, #7873f5, #4adede);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* For other browsers */
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { 
     background-position: 0% 50%; 
}
  50% { 
     background-position: 100% 50%; 
}
  100% {
      background-position: 0% 50%; 
     }
}



/* For mobile version */
@media (max-width:768px) {

    .link-div,.talk-btn{
     display: none;
    }


 .three-dot{
        position:absolute;
        right: 1rem;   
     }


.logo{
     width: 2rem;
     height: 2rem;
    }


.logo +p{
     font-size: 1.2rem; 
}


.logo-div{
    gap:0.2rem;
}


.navigation-bar{
     padding:1rem;
}


.column-nav{
     display:flex;
     flex-direction: column;
     font-size: 1rem;
     float: right;
     text-align: left;
     gap:1rem;
     background-color:#181f28;
     padding:1rem;
     position:fixed;
     right: 1rem;
     z-index: 1000;
     border-radius:10px;
     font-family: monospace,sans-serif;
     transform: translateY(-1rem);
}

#background-one{
     height: 110vh;
      }  


   .introduction{
     flex-direction: column;
     margin:0 1rem;
   }


   .name-div{
     font-size:1.5rem;
   }


   .profile-sec{
     flex-direction: column-reverse;
     gap:10rem;
   }


   .about-myself{
     width:100%;
     font-size: 1rem;
   }


   .talk-btn-1{
      width: 100%;
      padding: 1rem;
   }


   .hexagon{
     transform: scale(2) translate(-0.5rem,2rem);
     animation:none;
   }


   .icon-div{
     font-size: 1.3rem;
     margin:2.5rem 1rem 0rem 1rem;
     gap:1rem;
     max-width:100%;
   }


    #background-two{
     height: 150vh;
    }


   .about-me-container{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    transform: translateY(10rem);
   }


.about{
    
     font-size:1.5rem;
 }


.about-me{
     width: 100%;
     font-size: 1rem;
     font-family: sans-serif,monospace;
}


.hidden-pera{
     width: 100%;
     font-size: 1rem;
}


.toggle-btn {
   width:100%;
   padding:1rem;
}


.for-p{
     gap:1rem;
     transform: translateY(2rem);
}


 .u-shapesvg{
     transform: scale(2) translate(3.3rem,-2rem)!important;
     animation: none;
 }


.project-intro h1{
     font-size: 1.5rem;
}


.project-intro p{
     width:100%;
     text-align:justify;
     font-size: 1rem;
}


.project-intro{
      margin-left: 1rem;
     margin-right: 1rem;
}


.project-card1,.project-card2,.project-card3{
  width: 20vw;
  height: 20vh;
  border-radius: 1rem;
}


.main-card{
     margin-left: 2rem;
     margin-right: 2rem;
}


.right,.left{
     width:2.5rem;
     height: 2.5rem;
}


.arrow-container{
     margin-left: 1rem;
     margin-right: 1rem;
     transform:translateY(13rem) ;
}


.button-container{
     gap:3rem;
}


.prev-btn {
    width: 8rem;
    height: 5rem;
}


.next-btn{
    width: 8rem;
    height: 5rem;
}


#background-four{
   height: 100vh;
}


.footer-container{
     margin-left:1rem;
     margin-right: 1rem;
     gap:5rem;
     font-size: 1rem;
}

}

